.ajuste-layout{
  display: flex;
  flex-direction: column;
}

.dx-field-label{
  display: flex;
  transform: translateX(-93px);

  margin-bottom: 4px;
}

.item-container{
  display: flex;
  align-items: center;
  gap: 8px;
}
.btn-lixeira{
  transform: translateY(12px);
  height: 30px;
}
