<main>
  <div class="title-container">
    <h1>Lista de Notas fiscais</h1>
    <p class="subtitle">Gerencie suas notas fiscais de forma eficiente e organizada.</p>
  </div>

  <div class="tollbar">
    <dx-button
      type="default"
      text="+"
      (onClick)="abrirPopUp()">
    </dx-button>
  </div>

  <dx-data-grid
    [dataSource]="notas"
    [width]="'100%'"
    [height]="600"
    [showBorders]="true">

    <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>

    <dxo-data-grid-header-filter [visible]="true"></dxo-data-grid-header-filter>

    <dxo-data-grid-group-panel [visible]="false"></dxo-data-grid-group-panel>

    <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>

    <dxo-data-grid-editing
      mode="row"
      [allowAdding]="false"
      [allowUpdating]="false"
      [allowDeleting]="false">
    </dxo-data-grid-editing>

    <dxo-data-grid-grouping
      [autoExpandAll]="false">
    </dxo-data-grid-grouping>

    <dxo-data-grid-master-detail
      [enabled]="true"
      template="detail">
    </dxo-data-grid-master-detail>

    <!-- Colunas -->

    <dxi-data-grid-column
      dataField="numeroNotaFiscal"
      caption="Número">
    </dxi-data-grid-column>

    <dxi-data-grid-column
      dataField="data"
      dataType="date"
      caption="Data">
    </dxi-data-grid-column>

    <dxi-data-grid-column
      dataField="cliente.nome"
      caption="Cliente">
    </dxi-data-grid-column>

    <dxi-data-grid-column
      dataField="precoTotal"
      caption="Valor Total">
    </dxi-data-grid-column>

    <!-- Detail -->

    <div *dxTemplate="let nota of 'detail'">

      <dx-data-grid
        [dataSource]="nota.data.itens"
        [showBorders]="true">

        <dxi-data-grid-column
          dataField="produto.nome"
          caption="Produto">
        </dxi-data-grid-column>

        <dxi-data-grid-column
          dataField="quantidade"
          caption="Quantidade">
        </dxi-data-grid-column>

        <dxi-data-grid-column
          dataField="precoUnitario"
          caption="Preço Unitário"
          format="currency">
        </dxi-data-grid-column>

        <dxi-data-grid-column
          caption="Subtotal"
          [calculateCellValue]="calcularSubtotal"
          format="currency">
        </dxi-data-grid-column>

        <dxi-data-grid-column
          type="buttons" caption="Ações">

          <dxi-data-grid-button
            icon="edit"
            hint="Editar"
            [onClick]="editarNota">
          </dxi-data-grid-button>

          <dxi-data-grid-button
            icon="trash"
            hint="Excluir"
            [onClick]="excluirNota">
          </dxi-data-grid-button>

        </dxi-data-grid-column>

      </dx-data-grid>

    </div>

  </dx-data-grid>


  <!-- PopUp -->

  <dx-popup
    [(visible)]="popupVisible"
    [height]="500"
    [width]="700"
    [showTitle]="true"
    [title]="'Nova Nota Fiscal'"
    [dragEnabled]="false"
    closeOnOutsideClick="true">


    <div *dxTemplate="let data of 'content'">
      <dx-form
        [formData]="novaNota"
        [colCount]="2">

        <dxi-item
          dataField="numeroNotaFiscal"
          editorType="dxNumberBox"
          [label]="{ text: 'Número da Nota Fiscal' }">
        </dxi-item>

        <dxi-item
          dataField="data"
          editorType="dxDateBox"
          [label]="{ text: 'Data' }">
        </dxi-item>

        <dxi-item
          dataField="codigoCliente"
          editorType="dxSelectBox"
          [label]="{ text: 'Cliente' }"
          [editorOptions]="{
           dataSource:clientes,
           displayExpr:'nome',
            valueExpr:'codigo',
            searchEnabled:true
          }">
        </dxi-item>
      </dx-form>

      <h3>Produtos</h3>

      <div *ngFor="let item of novaNota.itens; let i = index">

        <div class="produto-item">
          <div class="produto">
            <dx-select-box
              [dataSource]="produtos"
              displayExpr="nome"
              valueExpr="id"
              [(value)]="item.produtoId">
              (onValueChanged)="onProdutoSelecionado(item)"
            </dx-select-box>
          </div>

          <div class="quantidade">
            <dx-number-box
              [(value)]="item.quantidade"
              [min]="1">
            </dx-number-box>
          </div>

          <dx-button
            icon="trash"
            type="danger"
            (onclick)="removerItem(i)">
          </dx-button>
        </div>
      </div>

      <div class="btn-adicionarProduto">
        <dx-button
          icon="plus"
          (onClick)="adicionarItem()">
        </dx-button>
      </div>

      <div class="popup-buttons">
        <dx-button
          text="Cancelar"
          type="ok"
          (onClick)="fecharPopup()">
        </dx-button>

        <dx-button
          text="Salvar"
          type="normal"
          (onClick)="salvarNota(novaNota)">
        </dx-button>
      </div>

    </div>


  </dx-popup>

</main>
