::ng-deep .dx-datagrid-filter-row {
  background-color: transparent;
}

.tollbar{
  display: flex;
  justify-content: flex-end;
}

.dx-button-has-text .dx-button-content {

  padding: 0px;
}

dx-button{
  font-size: 20px;
}

.produto-item {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.produto {
  flex: 2;
}

.quantidade {
  flex: 2;
}

.btn-adicionarProduto{
  display: flex;
  justify-content: flex-start;
  width: 24px;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}
