.nota-container{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notinha{
  background: #e5e5e5;
  padding: 16px;
  width: 350px;
  border-radius: 8px;
  font-weight: 400;

  h3{
    font-size: 16px;
  }
}
