<section>
  <div class="dx-field">
    <div class="dx-field-label">Estado</div>
    <div class="dx-field-value">
      <dx-select-box
        [items]="estados"
        [inputAttr]="{ 'aria-label': 'Simple Product' }"
      ></dx-select-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Cidade</div>
    <div class="dx-field-value">
      <dx-select-box
        [items]="cidades"
        [inputAttr]="{ 'aria-label': 'Simple Product' }"
      ></dx-select-box>
    </div>
  </div>
</section>
